*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  
.content{
    height: 5000px;
}
.start{
    height: 710px;
    background: linear-gradient(110deg, white 68%, #ffc800 32%);
}
#navbar{    
    padding: 10px;
}
#logo{
    font-weight: 800;
    font-size: 30px;
    color: black;
    margin-left: 10px;
    text-shadow: 1px 1px 1px black;
    border: none;
}
#logo img{
    margin-bottom: 10px;
    margin-left: 10px;
}
#logo .span{
    color: #ffc800;
}
.nav-link{
    color: black;
    font-weight: 700;
}
.home{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
}
.nav-link:hover{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
}
.fa-caret-down{
    margin-left: 8px;
}
#menu ul li{
    padding-left: 5px;
}
.logo-cart{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    cursor: pointer;
}
.fa-user{
    padding-right: 15px;
}
.left{
    margin: 50px 20px 20px 50px;
    padding-top: 110px;
    font-family: Georgia, serif;
}
.black{
    font-size: 60px;
    font-weight: 700;
}
.left span{
    font-size: 90px;
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
}
.button{
    display: flex;
}
.button p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}
.btn{
    padding: 5px 20px;
    background-color: black;
    letter-spacing: 4px;
    border-top: 3px solid rgb(105, 105, 105);
    border-left: 3px solid rgb(105, 105, 105);
}   
.btn:hover{
    color: black;
    background-color: #ffc800;
    border: none;
}
.content1{
    display: flex;
}
.right{
    margin: 20px;
    padding-left: 200px;
}
.right img{
    animation: c 4s linear infinite;
}
@keyframes c{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
}


.heading{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 20px 110px 0px 110px;
    border-bottom: 2px solid #ffc800;
    padding-top: 15px;
    font-family: Dancing Script;
}
.offers-icon{
    display: flex;
    margin: 0px 40px 0px 40px;
    font-family: 'Times New Roman', Times, serif;
}
.offers-icon p{
    font-size: 20px;
}
.icon-first{
    padding-left: 70px;
}
.icon{
    padding-left: 230px;
}


.content3{
    margin: 120px 120px 10px 120px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}
.image1{
    padding: 20px;
    height: 450px;
    width: 900px;
    background-image: url(./images/cards1.png);
    background-repeat: no-repeat;
    background-size: 620px 430px;
    color: #ffc800;
}
#order{
    color: #ffc800;
    border: 2px solid #ffc800;
    background-color: transparent;
    padding: 0px 30px 0px 30px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}
.image2{
    padding: 20px;
    padding-left: -100px;
    height: 450px;
    width: 900px;
    background-image: url(./images/cards2.png);
    background-repeat: no-repeat;
    background-size: 630px 430px;
    color: #ffc800;
}
.content4{
    margin: 10px 120px 10px 120px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}
.image3{
    padding: 20px;
    height: 280px;
    width: 405px;
    background-image: url(./images/cards3.png);
    background-repeat: no-repeat;
    background-size: 405px 280px;
    color: #ffc800;
}
.image4{
    margin-left: 30px;
    padding: 20px;
    height: 280px;
    width: 405px;
    background-image: url(./images/cards4.png);
    background-repeat: no-repeat;
    background-size: 405px 280px;
    color: #ffc800;
}
.image5{
    margin-left: 30px;
    padding: 20px;
    height: 280px;
    width: 405px;
    background-image: url(./images/cards5.png);
    background-repeat: no-repeat;
    background-size: 405px 280px;
    color: #ffc800;
}

.burger-types{
    margin: 110px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family: Dancing Script;
    border-bottom: 2px solid #ffc800;
}


.types{
    display: flex;
}
.type-1{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 110px;
    border: 1px solid rgb(223, 223, 223);
    width: 300px;
    border-radius: 5px;
}
a h2{
    padding-left: 20px;
    font-weight: 800;
}
a p{
    padding-left: 20px;
}
a span{
    /* padding-left: 20px; */
    font-size: 20px;    
}
.type-1 a{
    color: black;
    text-decoration: none;
}
.fa-basket-shopping{
    float: right;
    padding-right: 20px;
}
.type-1:hover{
    background-color: #ffc800;
    border: 1px solid #aa8500;
}
.type-2{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
    border: 1px solid rgb(223, 223, 223);
    width: 300px;
    border-radius: 5px;
}
.type-2 a{
    color: black;
    text-decoration: none;
}
.type-2:hover{
    background-color: #ffc800;
    border: 1px solid #aa8500;
}
.types-1{
    display: flex;
    padding-top: 30px;
}

.content5{
    margin-top: 110px;
    height: 420px;
    width: 100%;
    background-image: url(./images/banner.png);
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: 1600px 450px;
    color: #ffea9f;
    text-align: center;
}
.content5 h1, p, button{
    filter: brightness(100%);
    /* color: #ffc800; */
}
.content5 h1{
    padding-top: 150px;
}
.content5 button{
    background-color: transparent;
    border: 2px solid #ffc800;
    color: #ffc800;
    padding: 2px 50px 2px 50px;
    font-weight: 600;
}
.content5 button:hover{
    color: white;
    background-color: #ffc800;
    text-shadow: 1px 1px 1px black;
}


.content6{
    display: flex;
    margin: 50px 20px 50px 110px;
}
.img1{
    width: 420px;
    height: 280px;
    border: 2px solid #e8b603;
    background-color: #ffc800;
    border-radius: 4px;
}
.img1:hover{
    margin-top: -15px;
}
.img2{
    width: 420px;
    height: 280px;
    border: 2px solid #e8b603;
    background-color: #ffc800;
    border-radius: 4px;
    margin-left: 25px;
}
.img2:hover{
    margin-top: -15px;
}


.about{
    margin: 90px 110px 5px 110px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family: Dancing Script;
    border-bottom: 2px solid #ffc800;
}
.about-image{
    margin-left: 110px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.burger-image{
    width: 640px;
    height: 630px;
    border: 2px solid #e8b603;
    background-color: #ffc800;
    border-radius: 5px;
}
.burger-text h2{
    border-bottom: 2px solid #ffc800;
    font-weight: 600;
}
.burger-text{
    margin: 0px 110px 0px 20px;
}
.burger-text button{
    color: #ffc800;
    border: 2px solid #ffc800;
    background-color: transparent;
    font-weight: 700;
    padding: 5px 50px 5px 50px;
    letter-spacing: 2px;
}


.contact{
    margin: 90px 110px 5px 110px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family: Dancing Script;
    border-bottom: 2px solid #ffc800;
    font-family: 'Times New Roman', Times, serif;
}
.contact-form{
    margin: 10px 110px 5px 110px;
    height: 350px;
    width: 1300px;
    border: 2px solid #ffc800;
    display: flex;
}
.contact-1{
    width: 650px;
    margin: 10px;
}
.contact-1 h2{
    border-bottom: 2px solid #ffc800;
}
input[type=text]::placeholder{
    color: black;
    font-weight: 700;
}
input[type=text]{
    margin-top: 20px;
    padding: 8px 300px 8px 10px;
    background-color: #ffc800;
    border: transparent;
    border-radius: 5px;
}
.contact-1 button{
    border: 2px solid #ffc800;
    background-color: transparent;
    font-weight: 700;
    padding: 2px 80px 2px 80px;
    margin-top: 12px;
    letter-spacing: 3px;
}
.phone{
    color: #ffc800;
    padding-top: 30px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    background-color: #ffc800;
    height: 470px;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}
footer .footer{
    height: 360px;
    border: 2px solid #ffc800;
    background: linear-gradient(110deg, black 67%, #ffc800 33%);
    font-weight: 700;
}
.footer-text p{
    color: white;
    padding: 70px 10px 10px 110px;
}
.footer-text{
    display: flex;
    color: white;
}
table{
    margin: 60px 50px;
    width: 620px;
}
table a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
table a:hover{
    color: #ffc800;
}
table tr{
    padding: 0px 50px 0px 40px;
}
.icons{
    margin: 20px 0px 20px 20px ;
}
.footer-text span{
    text-shadow: 1px 1px 1px black;
    margin: 60px 100px 0px 0px;
}

.end{
    margin: 50px 0px 0px 80px;
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
}
.end span{
    float: right;
    padding-right: 80px;
}

.send:hover{
    color: white;
    background-color: #ffc800;
}
#order:hover{
    color: white;
    background-color: #ffc800;
}

.footer-icon i{
    cursor: pointer;
}
.footer-icon i:hover{
    color: black;
}